.triangle-left {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid red;
}

.triangle-right {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid red;
}