.triangleLeft {
    width: 0;
    height: 0;
    margin-top: 13px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--bs-gray-600);
}

.triangleRight {
    width: 0;
    height: 0;
    margin-top: 13px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid  var(--bs-blue);
}